body{
  background-color: #e6e6e6;
}

* {
  outline: none;
  box-sizing: border-box;
}

.chart{
  background-color: #fff;
  width:50vw;
  height:65vh;
  margin-left: auto;
  margin-right: auto;
  margin-top:10vh;
  padding:10px;
  border-radius: 10px;
}